body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
        }
        
        .container {
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 40px;
            width: 600px;
            text-align: center;
        }
        
        .image-container {
            margin: 20px 0;
            display: flex;
            justify-content: center;
        }
        
        .image-container img {
            max-width: 100%;
            height: auto;
        }
        
        h1 {
            font-weight: bold;
            margin-bottom: 20px;
            color: #333;
            width: 100%;
        }
        
        p {
            margin-bottom: 30px;
            color: #333;
            width: 100%;
        }
        
        .narrow-btn {
            width: 40%;
            padding: 15px;
            background-color: rgba(4, 128, 183, 1);
            color: white;
            border: none;
            border-radius: 15px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        
        .narrow-btn:hover {
            background-color: rgba(3, 110, 158, 1);
        }